*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  padding: 30px;
  display: flex;
  /* align-items: center; */
  gap: 30px;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  
}

.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(172, 171, 171);
  padding: 7px;
}

.top button{
  display: flex;
  align-items:center;
  padding: 3px 7px;
  color: #898787;
  border: 1px solid #dadada;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  font-size: 13px;
  gap: 3px;
}


.center h3{
  font-size: 20px;
  font-weight: 500;
}

.center h3 span{
  color: #b1b1b1;
  font-size: 12px;
  font-weight: 400;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap :5px;
  margin-top: 8px;
}

.center .tag h4{
  font-size: 10px;
  font-weight: 600;
  background-color: #e4e4e4;
  padding: 2px 4px;
  border-radius: 3px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #e0dada;
  padding-top: 15px  ;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 7px 14px;
  border-radius: 7px;
}

.bottom p{
  color: #b1b1b1;
  font-size: 12px;
}

